body, html {
    padding: 0;
    margin: 0;
    background-color: rgb(179, 179, 250)

}

section {
    text-align: center;
    text-decoration-line: underline;
}
table {
    width: 85%;
    border: 1px solid #000;
    margin-left: 50px;
    margin-top: 10px;
 }
 tr, td {
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
 }


#form-matricula {
    margin: 0 180px 0 180px;
    
}
hr {
    background-color: blue;
    
}


#form-matricula .casilla {
    margin: 5px;
}

#form-matricula .casilla input {
    padding:   3780px;
    border: 400px
    
    
}

#form-matricula .casilla label {
    font-weight: 600;
    font-size: 25px;
}

#form-matricula input[type="submit"] {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}
#form-matricula input[type="button"] {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

#form-matricula input[id="primer_apellido"] {
    display: flex;
    font-size: 20px;
    border: 2px solid #0016b0;
}

#form-matricula input[id="primer_nombre"] {
    display: flex;
    font-size: 20px;
    border: 2px solid #0016b0;
    
}

#form-matricula input[id="identidad"] {
    display: flex;
    font-size: 20px;
    border: 2px solid #0016b0;
}

#form-matricula input[id="edad"] {
    display: flex;
    font-size: 20px;
    border: 2px solid #0016b0;
}

#form-matricula input[id="telefono"] {
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
    border: 2px solid #0016b0;
}